@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 700; /* ← 이건 사실 400이 더 자연스럽긴 함 */
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Pretendard, sans-serif;

  /* ✨ 여기만 추가하면 됨 */
  font-weight: 700; /* 기본 글자 두께 조금 올려주기 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
